@charset "utf-8";
/* CSS Document */
body {
/*	background-color: #CFE3FC;*/
        font-family: Arial, Helvetica, sans-serif;
        background-color: #D1EDF6;	         
	font-size: 11px;
}

fieldset {
    border:1px solid;
}

.label-form {
    text-align: right;
    font-weight: bold;
}
